include LICENSE
include README.md

recursive-include scripts *
recursive-include tests *

global-include *.pyi

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
prune .tox
prune venv*

include geth/default_blockchain_password
include geth/genesis.json
include geth/py.typed
